body {
    font-size: 1.6rem;
    line-height: 3rem;
}

body > div {
    max-width: 50rem;
    margin: auto;
    padding: 0 3rem;
}

input {
    font-size: 1.6rem;
    width: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}

button {
    font-size: 1.6rem;
    margin: auto;
}
